.danhmuc{
    background-color: seashell;
}

.TM{
    width: 85%;
    height: 350px;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 120px;
    text-align: center;
    line-height: 30px;
    display: flex;
    box-sizing: border-box;
}

.MenuC{
    background-color: whitesmoke;
    font-size: 17px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 38px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
}
.MenuC .box-icon{
    width: 50px;
}

.list-menu-leftshow{
    display: flex; 
    align-items: center; 
    width: 100%;
    margin-left: -40px;
}

.fa{
    position: absolute;
    font-size: 18px; 
    top: 8.5px;
    left: 8.5px; 
    
}
.MenuC:hover {
    background-color: #ff0000; /* Màu nền khi chỉ trỏ vào */
}
.megamenu-ic-right {
position: absolute;
top: 0;
bottom: 0;
right: 4px;
margin: auto;
width: 8px;
height: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.menu_active-tm{
    border: 1px solid rgb(222, 225, 230);
    width: 230px;
    height: 450px;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    overflow: hidden; /* Ẩn phần ảnh bị vượt ra khỏi khung */
}

