
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.pinimg.com/originals/a4/d9/7f/a4d97fdc48b415f3f0bce516856ed3d6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: #288ad6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;

}

.navigation a 
{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/*Những cái nút trên header*/
.navigation a::after 
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation a:hover::after 
{
    transform: scaleX(1);
    transform-origin: left;
}

/*Nút đăng nhập trên header*/
.navigation .btnlogin_popup
{
    width: 130px;
    height: 40px;
    background: transparent;
    border: solid 2px white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnlogin_popup:hover
{
    background: white;
    color: #162938;
}

.wrapper
{
    position: relative;
    width: 400px;
    height: 500px;
    background:transparent;
    border: solid 2px rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease,height .2s ease;
    overflow: hidden;
    /*transform: scale(0);*/
}

.wrapper.active-popup
{
    transform: scale(1);
}

.wrapper.active
{
    height: 520px;

}

.wrapper .form-box 
{
    width: 100%;
    padding: 40px;
}

/*Chỗ đăng nhập*/
.wrapper .form-box.login
{
    transition: transform .18s ease;
    transform: translateX(0);

}

.wrapper.active .form-box.login
{
    transition: none;
    transform: translateX(-400px);
}

/*Chỗ đăng ký*/
.wrapper .form-box.register
{
    position: absolute;
    transition: none;
    transform: translateX(0);
}

.wrapper.active .form-box.register
{
    transition: transform .18s ease;
    transform: translateX(0);
}

/*Chỗ đổi mật khẩu*/
.wrapper .form-box.ForgotPassword
{
    position: absolute;
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.ForgotPassword
{
    transition: transform .18s ease;
    transform: translateX(-400px);
}

.form-box h2
{
    font-size: 2em;
    color: black;
    text-align: center;
}

/*Chỗ điền thông tin đăng nhập*/
.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px black;
    margin: 30px 0;
}

.input-box input .name
{
    background: transparent;
    border: none;
    background-color: transparent;
    outline: none;
}

.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}

.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;

}

/*Ghi nhớ tài khoản*/
.remember
{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input
{
    cursor: pointer;
    accent-color: black;
    margin-right: 3px;
}

.remember a
{
    color: black;
    text-decoration: none;
}

.remember a:hover
{
    text-decoration: underline;
}

/*Nút đăng nhập*/
.btn
{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}

/*chuyển đổi giữa đăng nhập và đăng ký*/
.login-register
{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a
{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover
{
    text-decoration: underline;

}

/*Chuyển đổi giữa đăng nhập và đổi mật khẩu*/
.login-forgot
{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-forgot p a
{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-forgot p a:hover
{
    text-decoration: underline;
}

/*Nút đóng trang đăng nhập*/
.wrapper .icon-close
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: red;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px; 
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

/*Thông báo*/
.alert-box
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: #ff6600;
    border-top: solid 10px red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}