/* CSS cho phần header */
.top_header {
    background-color: blue; /* Màu nền của header */
    color: #fff; /* Màu văn bản trong header */
    width: 100%;
    height: 70px;
    display: flex;
    padding: 10px; /* Khoảng cách giữa nội dung và viền của header */
    position: relative;
    box-sizing: border-box;
}

/* CSS cho ô tìm kiếm trong header */
.search {
    display: flex;
    align-items: center;
}

.search-input {
    width: 350px; /* Để ô tìm kiếm rộng 100% */
    height: 25px;
    border: 1px solid #ccc; /* Để viền ô tìm kiếm */
    border-radius: 5px;
    padding: 10px; /* Điều chỉnh khoảng cách bên trong ô tìm kiếm */
    color: #333; /* Màu văn bản trong ô tìm kiếm */
    margin-left: 450px;
}

.btn-search {
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-left: -83px; /* Khoảng cách giữa ô tìm kiếm và nút tìm kiếm */
}

/* Để đảm bảo ô tìm kiếm nằm giữa header */
.search-desktop {
    text-align: center;
    line-height: 50px;
}

/* CSS cho icon tìm kiếm */
.btn-search img {
    width: 42px; /* Kích thước của icon tìm kiếm */
    height: 25px;
}


/*menu header*/
.top_header {
    display: flex; /* Sắp xếp các phần tử bên trong theo chiều ngang */
    align-items: center; /* Căn các phần tử theo trục dọc (giữa theo chiều cao) */
}

.menu_header ul {
    list-style: none; /* Ẩn dấu chấm trước danh sách */
    padding: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.menu_header ul li {
    margin: 0 25px; /* Khoảng cách giữa các mục menu */
}

.menu_header ul li a {
    text-decoration: none;
    color: #fff; /*     Màu chữ cho các liên kết trong menu */
    display: block; /* Hiển thị liên kết dưới dạng block để có thể sử dụng padding và margin */
}

.btn-login {
    background-color: #ff6600; /* Màu nền nút Đăng Nhập */
    color: #fff; /* Màu chữ trên nút Đăng Nhập */
    padding: 5px 10px; /* Khoảng cách bên trong nút */
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.box-text{
    display: flex;
    flex-direction: column;
}
i , [id="call"]{
    margin-left: 845px;
    margin-top: 15px;
    font-size: 25px;
    transform: rotate(325deg);
}

i, [id="map"]{
    margin-left: 975px;
    margin-top: 17px;
    font-size: 22px;
    transform: none;
}
i, [id="cart"]{
    margin-left: 1200px;
    margin-top: 17px;
    font-size: 22px;
    transform: none;
}
[id="tracuu"]{
    display: flex;
    position: absolute;
    margin-left: -30px;
    margin-top: 13px;
    font-size: 25px;
    transform: none;
}